<script>
    function searchDiscordID() {
       var id = prompt("Enter the Discord snowflake (ID) of the user whose application you want to lookup:", "821441624306614342");
       if (id) {
          window.location = `/search/id/${id}`;
       }
    }

    function searchDiscordUsername() {
       var username = encodeURIComponent(prompt("Enter the Discord username in Username#0000 format of the user whose application you want to lookup:", "SXX#1337"));
       if (username) {
          window.location = `/search/username/${(username)}`;
       }
    }
 </script>
 <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
 </html>