<!DOCTYPE html>
<head>
   <title>Snackbox :: Applications</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="bg-darker-grey">
   <div class="bg-dark-grey px-4 py-5">
      <div class="py-5">
         <div class="container">
            <div class="col-lg-6 mx-auto text-grey">
               <div>
                  <div class="float-start" style="padding-right: 10px">
                     <img width="72" height="72" src="{{ url_for('static', filename='img/logo.png') }}">
                  </div> 
                  <div>
                     <h1 class="fw-bold text-white" style="padding-top: 15px">Ban Appeals</h1>
                  </div>
               </div>
               <br>
               <b>Welcome to Snackbox!</b>
               <br><br>
               <p>Snackbox is a community centralized around Chinese, Japanese, and Korean media, including anime, manga, music, and so on. Anyone with an interest in these topics is welcome to participate in our community. If you have been banned from our community, you are more than welcome to submit a ban appeal here.</p>
               <p><b>All responses are required unless otherwise noted.</b> Put some effort into your answers; ban appeals with half-assed responses will be rejected without further consideration. You should make an attempt to use properly formatted English, as unintelligible responses are more likely to be rejected.</p>
               <p>If you have already applied, you can check the status of your appeal <a class="text-white" href="/status">here</a>.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="px-4 py-5">
      <div class="container">
         <div class="col-lg-6 mx-auto text-grey">
            <div class="mb-5">
               {% if not user %}
               <div class="d-grid">
                  <a href="/login" class="btn" style="background-color: #5865F2; color: #ffffff">
                     <img width=24 height=24 src="{{ url_for('static', filename='img/discord.svg') }}" style="vertical-align: bottom"> 
                      Authenticate with Discord
                  </a>
               </div>
            </div>
            {% endif %}

            {% if user and user.id in editors %}
            <div class="mb-5">
               <a href="/review" class="text-white"> Management panel</a>
            </div>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}   
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show my-5" role="alert">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% if user and not banned %}
            <p>Your account is not banned.</p>
            {% endif %}

            
            {% if user and banned %}
            <div class="float-end">
               Not you? <a href="/logout">Log out.</a>
            </div>
            <form action="/submit" method="post" onsubmit="return confirm('Are you sure you want to submit your form? You will not be able to edit it after submission.');">
               <div class="mb-5">
                  <label for="username" class="form-label">Username:</label>
                  <input type="text" class="form-control" name="username" id="username" maxlength="20" value="{{user.name}}#{{user.discriminator}}" disabled>
                  <div id="usernameHelpBlock" class="form-text">
                     The Discord username and discriminator of the account that was banned.
                  </div>
               </div>
               <div class="mb-5">
                  <label for="banReason" class="form-label">Ban Reason:</label>
                  <input type="text" class="form-control" name="banReason" id="banReason" maxlength="20" value="{{banned['reason']}}" disabled>
                  <div id="banReasonHelpBlock" class="form-text">
                     Moderator provided reason when your ban was issued.
                  </div>
               </div>
               <div class="mb-5">
                  <label for="whenWereYouBanned" class="form-label">Approximately when were you banned? <span title="Required" style="color:red">*</span></label>
                  <textarea class="form-control" id="whenWereYouBanned" name="whenWereYouBanned" rows="3" maxlength="1500" required></textarea>
                  <div id="whenWereYouBannedHelpBlock" class="form-text">
                     It is important to note that you must wait at least one week before appealing your ban. Attempting to appeal before a week has passed will result in your appeal being rejection and being permanently barred from appealing again in the future.
                  </div>
               </div>
               <div class="mb-5">
                  <label for="whyWereYouBanned" class="form-label">In your own words, why were you banned? <span title="Required" style="color:red">*</span></label>
                  <textarea class="form-control" id="whyWereYouBanned" name="whyWereYouBanned" rows="5" maxlength="1500" required></textarea>
                  <div id="whyYouWereBannedHelpBlock" class="form-text">
                     Please be honest about the reason why you were banned and explain in detail the circumstances that led up to you being banned. Lying or being dishonest will result in your appeal being rejection and being permanently barred from appealing again in the future.
                  </div>
               </div>
               <div class="mb-5">
                  <label for="whyShouldYouBeUnbanned" class="form-label">Why should you be unbanned? <span title="Required" style="color:red">*</span></label>
                  <textarea class="form-control" id="whyShouldYouBeUnbanned" name="whyShouldYouBeUnbanned" rows="5" maxlength="1500" required></textarea>
                  <div id="whyShouldYouBeUnbannedHelpBlock" class="form-text">
                     Please take your time, explain your case, and why you believe you should be unbanned in detail. We want to see you take responsibility for your actions and see some sort of evidence that you've grown and won't repeat your prior actions should you be let back into our community.
                  </div>
               </div>

               <div class="mb-4">
                  <label for="anythingElseToAdd" class="form-label">Is there anything else you would like to add?</label>
                  <textarea class="form-control" id="anythingElseToAdd" name="anythingElseToAdd" rows="5" maxlength="1500"></textarea>
                  <div id="anythingElseToAddHelpBlock" class="form-text">
                     Any additional comments are welcome here. You are not required to fill this out if you have nothing else to add.
                  </div>
               </div>
               <div class="d-grid">
                  <button class="btn btn-primary" type="submit">Submit</button>
               </div>
            </form>
            {% endif %}
         </div>
      </div>
   </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>